@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #F3F3F3;
}

.categoria-lista {
  display: flex;
  cursor: pointer;
  overflow-y: visible;
  overflow-x: scroll;
  height: 20rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
}

.categoria-lista::-webkit-scrollbar{
  display: none;
}

.categoria-lista img{
  height: 16rem;
  transform: scale(0.9);
  transition: ease .2s;
}

.categoria-lista img:hover{
  transform: scale(1);
  transition: .2s;
}


